.container {
  margin: 20px auto;
  width: 90%;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.15);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background: #0d47a1;
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button.edit {
  background: #0277bd;
}

button.delete {
  background: #b71c1c;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;

  th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
  }

  th {
    background: #eceff1;
  }
}.overlay {
  position: fixed; // 🔥 CLAVE
  top: 0;
  left: 0;
  width: 100vw;   // 🔥 usa viewport
  height: 100vh;  // 🔥 usa viewport
  background: rgba(0,0,0,0.7);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 99999; // 🔥 más alto por si acaso
}

/* popup */
.popup {
  background: white;
  padding: 25px;
  border-radius: 12px;
  width: 450px;
  max-width: 90%;

  position: relative;
  box-shadow: 0 15px 40px rgba(0,0,0,0.4);
}

/* cerrar */
.close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}

/* texto */
.contenido-modal {
  margin-top: 10px;
  max-height: 300px;
  overflow-y: auto;
  white-space: pre-line;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 8px;
}
.search-box {
  margin: 15px 0;
  display: flex;
  align-items: center;
  gap: 10px;

  background: white;
  padding: 10px 15px;
  border-radius: 12px;

  box-shadow: 0 2px 8px rgba(0,0,0,0.08);

  width: 320px;

  .material-icons {
    color: #0a2a66;
    font-size: 22px;
  }

  input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 14px;
    background: transparent;
  }
}